apptainer {
  enabled = true
  autoMounts = true
  cacheDir = 'containers'
}

process {
    executor = 'slurm'
    penv = 'smp'

    errorStrategy = 'ignore'
    maxRetries = 2
    
    resourceLimits = [
        cpus: 32,
        memory: 256.GB,
        time: 24.h
    ]
    
    withLabel:process_single {
        cpus   = 2
        memory = 16.GB
        time   = 1.h
    }

    withLabel:process_low {
        cpus   = 4
        memory = 32.GB
        time   = 4.h
    }
    
    withLabel:process_medium {
        cpus = 6
        memory = 72.GB
        time = 6.h
    }
    
    withLabel:process_high {
        cpus = 6
        memory = 96.GB
        time = 6.h
    }
}
