apptainer {
  enabled = true
  autoMounts = true
  cacheDir = 'containers'
}

process {
    executor = 'sge'
    queue = '40core-192G.q'
    penv = 'smp'
    beforeScript = 'module add apptainer'

    errorStrategy = 'ignore'
    maxRetries = 2
    
    resourceLimits = [
        cpus: 32,
        memory: 256.GB,
        time: 24.h
    ]
    
    withLabel:process_single {
        cpus   = 2
        memory = 16.GB
        time   = 1.h
        clusterOptions = "-l h_vmem=8G -l disk=5G"
    }

    withLabel:process_low {
        cpus   = 2
        memory = 24.GB
        time   = 2.h
        clusterOptions = "-l h_vmem=12G -l disk=10G"
    }
    
    withLabel:process_medium {
        cpus   = 4
        memory = 32.GB
        time   = 4.h
        clusterOptions = "-l h_vmem=12G -l disk=15G"
    }
    
    withLabel:process_high {
        cpus = 6
        memory = 72.GB
        time = 6.h
        clusterOptions = "-l h_vmem=12G -l disk=20G"
    }
}
